/*medias queris*/
@media (max-width: 600px) {
  .logo {
    width: 60%;
  }
}
@media (max-width: 550px) {
  .headerMQ {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 991px) {
  .menuMQ {
    background-color: rgba(0, 0, 0, 0.993);
    margin: 1px;
    border-radius: 4px;
  }
}
@media (max-width: 720px) {
  .secManifiesto p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
@media (max-width: 412px) {
  .secManifiesto p {
    font-size: 1rem;
    font-weight: bold;
  }
}
/*fin mediasqueris*/
/*General ---------------------------------------*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
}

html {
  font-size: 62.5%;
}

.parrafos {
  font-size: 12;
  text-align: center;
}

/*INICIO ------------------------------------------------------------------*/
.secPortada {
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  height: 55rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255));
  filter: blur(70%);
}
.secPortada h1 {
  font-size: 4rem;
}
.secPortada a {
  text-transform: capitalize;
  color: black;
}

.botonATienda {
  height: 4rem;
  width: 30rem;
  font-size: 2rem;
  color: #000000;
  font-weight: bold;
  background-color: #f58723;
  border: 0.5 #f58723 inset;
  font-style: italic;
  text-transform: uppercase;
}

.secManifiesto {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/fondo.jpg);
  background-size: 20px 20px;
}
.secManifiesto a {
  font-size: 2rem;
}

.secTienda {
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  text-transform: uppercase;
  background: black;
}
.secTienda h3 {
  font-size: 3.5rem;
}
.secTienda a img {
  height: 15rem;
  width: 20rem;
}

.secRed {
  height: 30rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #ffffff, #f58723);
}

/*TIENDA-----------------------------------------------------------*/
.holaTienda {
  background: linear-gradient(to bottom, rgb(255, 255, 255), #f58723);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
  flex-direction: column;
}

.amuPoesia {
  background: linear-gradient(to bottom, #f58723, #f1ecdf);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
}

.amuPintura {
  background: linear-gradient(to bottom, #f1ecdf, #c7ba99);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
}

.amuFotografia {
  background: linear-gradient(to bottom, #c7ba99, white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
}

.dataTienda {
  background: linear-gradient(rgb(255, 255, 255), white, white, white, white);
  height: 25rem;
}
.dataTienda .dataUno {
  background: linear-gradient(white, white, #f58723);
}

.talle {
  background: linear-gradient(white, white, #d4c9ad);
  height: 25rem;
}

.refaccion {
  background: linear-gradient(#d4c9ad, white);
  height: 25rem;
}

.tiempoDeEspera {
  background: linear-gradient(white, #c7ba99);
  height: 25rem;
}

.amuCircular {
  background: linear-gradient(#c7ba99, #f58723);
  height: 25rem;
}

/*

talle
refaccion
tiempoDeEspera
amuCircular*/
/*MANIFIESTO ----------------------------------------------------------*/
.manifiesto {
  font-size: 2rem;
}

/*CONTACTO -----------------------------------------------------------*/
.secContacto {
  font-size: 1.5rem;
  display: flex;
  align-items: top;
  justify-content: space-around;
}

form {
  text-align: left;
  font-style: italic;
}

/*Fin General ---------------------------------------*/
/*Header ---------------------------------------*/
.colorfondo {
  background-color: rgb(0, 0, 0);
  height: 10rem;
}

.logo {
  width: 75%;
  height: max-content;
}

.hea {
  height: 10%;
  position: sticky;
  top: 0px;
}

.anclas {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: lowercase;
  font-size: 1.5rem;
  font-family: var(--bs-body-font-family);
  margin: 0 40px 0 0;
  letter-spacing: 0.4rem;
}
.anclas:hover {
  color: rgba(227, 230, 97, 0.8);
}

.iconoMenu {
  background-color: rgb(255, 255, 255);
  margin-right: 15px;
}

/*Fin header ---------------------------------------*/
/*footer ---------------------------------*/
footer {
  background-color: #f58723;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}
footer p {
  margin-left: 15px;
  color: whitesmoke;
}
footer ul {
  display: flex;
  list-style: none;
  margin-right: 15px;
}
footer li {
  margin: 0 30px;
}
footer a img {
  height: 20px;
  width: 20px;
}

/* fin footer ---------------------------------*/

/*# sourceMappingURL=estilo.css.map */
