
/*footer ---------------------------------*/

footer {
	background-color: $background-color_4;
	height: 8%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 7px;
	p {
		margin-left: 15px;
		color: $color_3;
	}
	ul {
		display: flex;
		list-style: none;
		margin-right: 15px;
	}
	li {
		margin: 0 30px;
	}
	a {
		img {
			height: 20px;
			width: 20px;
		}
	}
}
/* fin footer ---------------------------------*/