
/*General ---------------------------------------*/

* {
    margin: 0px;
    padding: 0px;
}

body {
	background-color: white;
}

html {
	font-size: 62.5%;
}

@mixin parrafos ($size, $alineacion){
    font-size: $size ;
    text-align: $alineacion ;
}

.parrafos {
	@include parrafos(12, center)
}

/*INICIO ------------------------------------------------------------------*/

.secPortada {
	font-size: 2rem;
	color: $color_3;
	text-transform: uppercase;
	height: 55rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255));
	filter: blur(70%);
	h1{
		font-size: 4rem;
	}
	a {
		text-transform: capitalize;
		color: $color_4;
	}
}

.botonATienda {
	height: 4rem;
	width: 30rem;
	font-size: 2rem;
	color: $color_5;
	font-weight: bold;
	background-color: $background-color_4;
	border: 0.5 $background-color_4 inset;
	font-style: italic;
	text-transform: uppercase;
}
.secManifiesto {
	a {
		font-size: 2rem;
	}
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	height: 30rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(../img/fondo.jpg);
	background-size: 20px 20px;
}

.secTienda {
	height: 30rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: $color_3;
	text-transform: uppercase;
	background: black;
	h3 {
		font-size: 3.5rem;
	}
	a {
		img {
			height: 15rem;
			width: 20rem;
		}
	}
}
.secRed {
	height: 30rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	color: $color_4;
	text-transform: uppercase;
	background-image: linear-gradient(to bottom, #ffffff, $background-color_4 );
}

/*TIENDA-----------------------------------------------------------*/

@mixin estiloTienda ($color1, $color2){
    background: linear-gradient(to bottom, $color1, $color2);
}

@mixin fijoTienda {
	display:flex;
	align-items: center;
	justify-content: space-around;
	height: 30rem;
}



.holaTienda {
   @include estiloTienda(rgb(255, 255, 255),#f58723 );
	@include fijoTienda;
	flex-direction: column;
	

}
.amuPoesia {
	@include estiloTienda(#f58723 ,#f1ecdf);
	@include fijoTienda;
	
}
.amuPintura {
	@include estiloTienda(#f1ecdf,#c7ba99);
	@include fijoTienda;	
	
}
.amuFotografia {
	@include estiloTienda( #c7ba99,white);
	@include fijoTienda;
	
}

.dataTienda {
	background: linear-gradient(rgb(255, 255, 255), white, white, white, white);
	height: 25rem;

	.dataUno {
		background: linear-gradient(white, white,#f58723);
	}
}

.talle {
	background: linear-gradient(white, white,#d4c9ad);
	height: 25rem;

}

.refaccion {
	background: linear-gradient(#d4c9ad, white);
	height: 25rem;

}
.tiempoDeEspera {
	background: linear-gradient(white,#c7ba99);
	height: 25rem;

}
.amuCircular {
	background: linear-gradient( #c7ba99, #f58723 );
	height: 25rem; }

/*

talle
refaccion
tiempoDeEspera
amuCircular*/

/*MANIFIESTO ----------------------------------------------------------*/

.manifiesto {
	font-size: 2rem;
}

/*CONTACTO -----------------------------------------------------------*/

.secContacto {
	font-size: 1.5rem;
	display: flex;
	align-items: top;
	justify-content: space-around;
}


form {
	text-align: left;
	font-style: italic;
}

/*Fin General ---------------------------------------*/