/*General ---------------------------------------*/

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color:#f58723;
}

html {
	font-size: 62.5%;
}

@mixin parrafos ($size, $alineacion) {
	font-size: $size ;
	text-align: $alineacion ;
}

.parrafos {
	@include parrafos(12, center)
}

/*INICIO ------------------------------------------------------------------*/

.secPortada {
	font-size: 2rem;
	color: $color_3;
	text-transform: uppercase;
	height: 55rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255));
	filter: blur(70%);

	h1 {
		font-size: 4rem;
	}

	a {
		text-transform: capitalize;
		color: $color_4;
	}
}

.botonATienda {
	height: 4rem;
	width: 30rem;
	font-size: 2rem;
	color: $color_5;
	font-weight: bold;
	background-color: $background-color_4;
	border: 0.5 $background-color_4 inset;
	font-style: italic;
	text-transform: uppercase;
}

.secManifiesto {
	a {
		font-size: 2rem;
	}

	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	height: 30rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(../img/fondo.jpg);
	background-size: 20px 20px;
}

.secTienda {
	height: 30rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: $color_3;
	text-transform: uppercase;
	background: black;

	h3 {
		font-size: 3.5rem;
	}

	a {
		img {
			height: 15rem;
			width: 20rem;
		}
	}
}

.secRed {
	height: 30rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	color: $color_4;
	text-transform: uppercase;
	background-image: linear-gradient(to bottom, #ffffff, $background-color_4 );
}

/*TIENDA-----------------------------------------------------------*/

//mixins 

@mixin estiloTienda ($color1, $color2) {
	background: linear-gradient(to bottom, $color1, $color2);
}

@mixin fijoTienda {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 60rem;
}

@mixin descrip($colorA) {
	h3 {
		font-size: 4rem;
		font-style: italic;
	}

	p {
		font-size: 2rem;
		font-style: italic;
	}

	a {
		text-decoration: none;
		color: $colorA;
		font-weight: bolder;
		font-size: 1.3rem;
		text-transform: uppercase;

	}
}

@mixin info{
	text-transform: uppercase;
	text-justify: distribute-all-lines;
}

//Encabezado 


.holaTienda {
	@include estiloTienda( #f58723, white);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;

	h2 {
		font-size: 6rem;
		text-transform: uppercase;
		font-weight: lighter;
	}
}

//Productos-Artistas

.amuPoesia {
	@include estiloTienda(white, #f58723);
	@include fijoTienda;

	.descripcionProducto {
		@include descrip(#23baf5);
	}


}
.amuPintura {
	@include estiloTienda( #f58723, white);
	@include fijoTienda;

	.descripcionProducto {
		@include descrip(#86613e);
	}

}
.amuFotografia {
	@include estiloTienda( white,#f58723 );
	@include fijoTienda;

	.descripcionProducto {
		@include descrip(#751f1f);
	}


}

//info tienda

#sobreBuzos{
	text-align: center;
	text-transform: uppercase;
	text-decoration:underline;
}
.bloqueInfo {
	display: flex;
	justify-items: space-between;
	text-align: justify;
	background-color: #f58723;
	.produccionInfo{
		text-transform: uppercase;
	text-justify: distribute-all-lines;
	font-size: 1.5rem;
	}
	.tallesInfo{}
	.videoTallesInfo{}
	.circularInfo{}

	}



/*MANIFIESTO ----------------------------------------------------------*/

.manifiesto {
	font-size: 2rem;
}

/*CONTACTO -----------------------------------------------------------*/

.secContacto {
	font-size: 1.5rem;
	display: flex;
	align-items: top;
	justify-content: space-around;
}


form {
	text-align: left;
	font-style: italic;
}

/*Fin General ---------------------------------------*/