/*Header ---------------------------------------*/

.colorfondo {
	background-color: $background-color_1;
	height: 10rem;
}
.logo {
	width: 75%;
	height: max-content;
}
.hea {
	height: 10%;
	position: sticky;
	top: 0px;
}
.anclas {
	text-decoration: none;
	color: $color_1;
	text-transform: lowercase;
	font-size: 1.5rem;
	font-family: $font-family_1;
	margin: 0 40px 0 0;
	letter-spacing: 0.4rem;
	&:hover {
		color: $color_2;
	}
}
.iconoMenu {
	background-color: $background-color_2;
	margin-right: 15px;
}


/*Fin header ---------------------------------------*/