
//VARIABLES

$color_1: rgb(255, 255, 255);
$color_2: rgba(227, 230, 97, 0.8);
$color_3: whitesmoke;
$font-family_1: var(--bs-body-font-family);
$background-color_1: rgb(0, 0, 0);
$background-color_2: rgb(255, 255, 255);
$background-color_3: rgba(255, 255, 255, 0.048);
$background-color_4: rgba(182, 184, 62, 0.8);